body {
  margin: 0;
  padding: 0;
  background-color: #ebecf0;
  overflow-x: hidden;
}

.main-page {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
